@{
    ViewData["Title"] = "Dashboard";
}

<script type="text/javascript" src="~/js/dashboard.js"></script>

<section class="home-section">
    <h1 class="text">Dashboard</h1>

    <figure class="highcharts-figure" style="padding-right:50px">
        <div id="chart-realtime"></div>
    </figure>
</section>