body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #4f546c;
    font-size: 14px;
    background-color: #1f2029;
}

.padding-zero {
    padding-left: 0 !important;
}

h1 {
    color: #ffeba7;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #ffeba7;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0d0c14;
    text-align: left;
    border-radius: 3.2px;
    border-radius: 20px;
}

.table th {
    border-top: none;
}

a {
    color: #ffeba7;
}

    a:hover {
        color: #ff0000;
    }

th {
    background-color: #444444;
    letter-spacing: 5px;
    font-size: 17px;
    font-weight: 900;
}

td {
    font-size: 20px;
}

    td img {
        width: 50px;
        height: 50px;
        margin-right: 8px;
        border-radius: 50%;
    }

.btn-register {
    margin-left: 38%;
}
/*============================================================*/
card {
    margin-left: 20px;
}

label {
    color: #ffeba7;
    margin: 0;
}

.row {
    width: 1000px;
    height: auto;
    border: 2px solid #ffeba7;
    padding: 20px;
    border-radius: 10px;
}

.card-profile {
    margin-top: 50px;
    border-right: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 20px;
}

    .card-profile img {
        display: block;
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }

    .card-profile label {
        display: none;
        position: absolute;
        width: 220px;
        height: 220px;
        font-size: 35px;
        background: rgba(0,0,0,0.3);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100%
    }


    .card-profile:hover label {
        display: flex;
    }

.btn-danger {
    margin-top: 10px;
    text-align: center;
}
