@model List<UsuarioViewModel>

@{
    ViewData["Title"] = "Cadastro Usuário";
}

<link rel="stylesheet" href="~/css/usuario.css">
<script type="text/javascript" src="~/js/usuario.js"></script>

<div class="padding-zero">

    <h2>Listagem de Usuários</h2>
    <br />
    <br />
    <table class="table table-responsive table-hover">
        <tr>
            <th style="text-align:center">FOTO</th>
            <th style="text-align:center">USUÁRIO</th>
            <th style="text-align:center">SENHA</th>
            <th style="text-align:center">PERFIL</th>
            <th style="text-align:center">AÇÕES</th>
        </tr>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(usuario.ImagemEmBase64))
                    {
                        <img id="imgPreview" src="~/img/Profile-Icon.png" class="img-responsive" width="50">
                    }
                    else
                    {
                        <img id="imgPreview" src="data:image/jpeg;base64,@usuario.ImagemEmBase64" class="img-responsive" width="50">
                    }
                </td>
                <td style="text-align:center">@usuario.Usuario</td>
                <td style="text-align:center">
                    <span class="password" data-password="@usuario.Senha">*****</span>
                    <i onclick="usuario.esconderSenha(this)" class="bx bx-show password-icon" style="cursor:pointer"></i>
                </td>

                <td style="text-align:center">@usuario.Perfil</td>
                @if (usuario.Id != ViewBag.IdUsuario)
                {
                    <td style="text-align:center">
                        <a href="/usuario/edit?id=@usuario.Id"> <span class="bx bxs-pencil"></span></a>
                        <a href="/usuario/delete?id=@usuario.Id"> <span class="bx bxs-trash-alt"></span></a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
    <a href="/usuario/create" class="btn btn-register">Novo Registro</a>
</div>
