@model List<UsuarioViewModel>
<h2>Listagem de Usuários</h2>

<a href="/usuario/create" class="btn btn-sucess"">Novo Registro</a>
<br />
<br />

<table class="table table-responsive table-hover">
    <tr>
        <th style="text-align:center">AÇÕES</th>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">USERNAME</th>
        <th style="text-align:center">SENHA</th>
        <th style="text-align:center">PERFIL</th>
    </tr>
    @foreach (var usuario in Model)
    {
        <tr>
            <td style="text-align:center">
                <a href="/usuario/edit?id=@usuario.Id"> <span class="glyphicon glyphicon-edit"></span></a>
                <a href="/usuario/delete?id=@usuario.Id"> <span class="glyphicon glyphicon-remove"></span></a>
            </td>
            <td style="text-align:center">@usuario.Id</td>
            <td style="text-align:center">@usuario.Usuario</td>
            <td style="text-align:center">@usuario.Senha</td>
            <td style="text-align:center">@usuario.Perfil</td>
        </tr>
    }
</table>