@model List<EmpresaViewModel>

@{
    ViewData["Title"] = "Cadastro Empresa";
}

<link rel="stylesheet" href="~/css/usuario.css">
<link rel="stylesheet" href="~/css/site.css">
<script type="text/javascript" src="~/js/empresa.js"></script>

<section class="home-section">

    <h1 class="text">Listagem de Empresas</h1>
    <br />
    <br />
    <table class="table table-hover">
        <tr>
            <th style="text-align:center">FOTO</th>
            <th style="text-align:center">NOME</th>
            <th style="text-align:center">TELEFONE</th>
            <th style="text-align:center">AÇÕES</th>
        </tr>
        @foreach (var empresa in Model)
        {
            <tr>
                <td style="text-align:center">
                    @if (string.IsNullOrEmpty(empresa.ImagemEmBase64))
                    {
                        <img id="imgPreview" src="~/img/Company-Icon.png" class="img-responsive" width="50">
                    }
                    else
                    {
                        <img id="imgPreview" src="data:image/jpeg;base64,@empresa.ImagemEmBase64" class="img-responsive" width="50">
                    }
                </td>
                <td style="text-align:center">@empresa.Nome</td>
                <td style="text-align:center">@empresa.Telefone</td>
                <td style="text-align:center">
                    <a href="/empresa/edit?id=@empresa.Id"> <span class="bx bxs-pencil icon-action"></span></a>
                    <a onclick="empresa.confirma(@empresa.Id)"> <span class="bx bxs-trash-alt icon-action"></span></a>
                </td>

            </tr>
        }
    </table>
    <a href="/empresa/create" class="btn btn-register">Novo Registro</a>
</section>
<div class="delete">
    <dialog id="deleteModal" style="padding: 40px;">
        <div> <i class="bx bx-alarm-exclamation" style="font-size: 100px; margin-left: 32%;"> </i> </div>
        <div class="text" style="font-size: 25px !important;">Deseja realmente excluir?</div>
        <br />
        <div>
            <a class="btn" href="#" onclick="document.getElementById('deleteModal').close();" style="color: darkred; margin-left:7%;">Cancelar</a>
            <a class="btn confirm-delete" href="#">Confirmar</a>
        </div>
    </dialog>
</div>